/* this file imports all your scss partials to be compiled in one
stylesheet, which you can attach to your html. 

All the files that are prefixed with an underscore are called
partials eg "_name-of-file.scss" meaning that their css isn't compiled
unless it's imported into an unprefixed .scss file */
/* Variables are placeholders for storing information that you
want to reuse throughout your styles. You can store things like
colours, font-stacks, or any css value you think you might want
to reuse. 

SASS uses the '$' symbol to declare variables.*/
/* line 3, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
body {
  font-family: 'Cedarville Cursive', cursive;
  background: url(../../../img/sea.jpg) no-repeat center center fixed;
  background-size: cover; }

/* line 12, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
h1 {
  font-family: 'Cedarville Cursive', cursive;
  color: #fff;
  font-size: 2em;
  margin-left: 1.5em; }

/* line 19, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
h2 {
  font-family: 'Cedarville Cursive', cursive;
  color: #fff;
  font-size: 1.5em;
  position: relative; }

/* line 26, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
.all-icons {
  margin-top: 6em;
  position: relative;
  text-align: center; }

/* line 32, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
.container {
  display: inline-block;
  text-align: center;
  position: relative; }

/* line 38, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
.icon-link {
  color: #fff;
  position: relative;
  text-align: center;
  display: inline-block;
  font-size: 6em;
  color: white;
  border: white solid 8px;
  padding: 0.3em;
  margin: 0.2em;
  -webkit-animation: icon-fade 1s ease-out;
  animation: icon-fade 1s ease-out;
  transition: all linear; }

/* line 57, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
.container .icon-link:hover {
  font-size: 6.5em;
  padding: 0.2em;
  transition: all linear;
  background-color: rgba(118, 244, 232, 0.25); }

/* line 65, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
.container .icon-link:active {
  top: 0.1em;
  transition: all linear; }

/* line 70, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
.word-1 {
  -webkit-animation: word-fade-1 1.5s ease-out;
  animation: word-fade-1 1.5s ease-out; }

/* line 78, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
.word-2 {
  -webkit-animation: word-fade-1 1.75s ease-out;
  animation: word-fade-1 1.75s ease-out; }

/* line 86, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
.word-3 {
  -webkit-animation: word-fade-1 2s ease-out;
  animation: word-fade-1 2s ease-out; }

/*H2 ANIMATION*/
@-webkit-keyframes word-fade-1 {
  /* line 97, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
  0% {
    top: 15rem;
    opacity: 0; }

  /* line 102, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
  50% {
    top: 15rem;
    opacity: 0; }

  /* line 107, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
  100% {
    top: 0;
    opacity: 1; } }

/*ICON ANIMATION ALL*/
@-webkit-keyframes icon-fade {
  /* line 117, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
  0% {
    top: 15rem;
    opacity: 0; }

  /* line 122, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
  10% {
    top: 15rem;
    opacity: 0; }

  /* line 127, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
  100% {
    top: 0;
    opacity: 1; } }

@-webkit-keyframes icon-fade {
  /* line 134, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
  0% {
    top: 15rem;
    opacity: 0; }

  /* line 139, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
  5% {
    top: 15rem;
    opacity: 0; }

  /* line 144, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
  100% {
    top: 0;
    opacity: 1; } }

@keyframes icon-fade {
  /* line 185, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
  0% {
    top: 15rem;
    opacity: 0; }

  /* line 190, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
  5% {
    top: 15rem;
    opacity: 0; }

  /* line 195, /Users/madeleinegagne/Desktop/semester2/web dev/exercise-2-sass/scss/components/main */
  100% {
    top: 0;
    opacity: 1; } }
